.main {
    width: 300px;
    font-family: "times new roman", times, serif;
    font-size: 14px;
}

#headImage {
    width: 300px;
}

#settings {
    float: right;
    vertical-align: bottom;
    margin-top: 10px;
}

#statusMessage {
    font-size: 15px;
    color: red;
    hyphens: auto;
}

#waitImage {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

#payImage {
    cursor: pointer;
    width: 100px;
}

#siteImage {
    cursor: pointer;
    width: 30px;
}

#accountImage {
    cursor: pointer;
    width: 30px;
}

#what, #img {
    width: 20px;
}

#uid_input, #password_input {
    width: 150px;
}

#waitBlock {
    display: none;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}